---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Acerca de mi";

const identity = {
  country: "Buenos Aires, Argentina",
  hobbies: ["Skateboarding", "Futbol", "Gaming"],
};

const skills = ["HTML5", "CSS3", "JavaScript ES6+", "TypeScript", "React.js", "Astro", "Next.js","Tailwind CSS"];
---

<BaseLayout pageTitle={pageTitle}>
  <p>¡Hola! Soy Gabriel, un Desarrollador Frontend entusiasta, especializado en React y JavaScript. Mi objetivo es crear experiencias web excepcionales. Aunque estoy en las primeras etapas de mi carrera profesional, he demostrado mis habilidades a través de varios proyectos personales innovadores.</p>

  <h3>Algunos datos interesantes sobre mi:</h3>
  <ul>
    <li>Actualmente vivo en {identity.country}.</li>
    {identity.hobbies.length >= 2 &&
      <li>Mis tres hobbies son: {identity.hobbies[0]}, {identity.hobbies[1]} y {identity.hobbies[2]}</li>
    }
  </ul>
  <h3>Mis habilidades son:</h3>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>

  <p>Estoy realmente emocionado de haber elegido el Desarrollo Frontend como mi camino a seguir. Es un campo que disfruto y me siento afortunado de poder aprender y crecer en algo que me gusta. Estoy ansioso por la oportunidad de aplicar mis habilidades en un entorno profesional en el futuro.</p>
</BaseLayout>